nav{
    background-color: black;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    margin-bottom: 20px;
    justify-content: center;
    gap: 30px;
}
nav>a{
    color: white;
    text-decoration: none;
}
h2{
    padding: 20px;
}