.card{
    box-shadow: rgba(0,0,0,0.25) 0 1px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 30%;
}
.card:hover{
    background-color: lightgray;
    color: blue;
}
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}